
.posts {
  background-color: var(--extra-light);
}

.posts__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.posts__card {
  background-color: var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}

.posts__content {
  padding: 2rem;
}

.posts__date {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.posts__date span {
  font-size: 3rem;
  font-weight: 300;
  color: var(--primary-color);
}

.posts__date div {
  color: var(--text-light);
}

.posts__content h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.posts__content p {
  line-height: 1.5rem;
  color: var(--text-light);
}

.photos__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}


@media (width < 900px) {
  .posts__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .photos__grid {
    gap: 1rem;
  }
}

@media (width < 750px) {
  .photos__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .posts__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
